li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: var(--grey);
}

li::marker {
    /* font-size: 10px; */
}

.portfolio-gallery {
    display: flex;
    justify-content: space-between;
    padding: 40px 5%;
    flex-wrap: wrap;
}

.portfolio-gallery .big-img {
    width: 100%;
}

.portfolio-gallery .big-img img {
    width: 100%;
}

.portfolio-gallery .img {
    width: 48%;
}

.portfolio-gallery .img img {
    width: 100%;
}

figcaption {
    text-align: center;
    color: #808080;
    margin-top: 5px;
}

.p-links {
    padding: 40px 5%;
}

.p-links h2 {
    margin-bottom: 20px;
}

.portfolio-links {
    display: grid;
    place-items: center;
    gap: 15px;
}

.portfolio-links a {
    font-weight: 400;
    font-size: 20px;
    color: #006DDC;
    margin: 20px;
}

.portfolio-links a:hover {
    text-decoration: underline;
    color: #559EE8;
}

.portfolio-links a:active {
    color: #004993;
}


@media screen and (max-width: 1000px) {
    li {
        font-size: 16px;
      }

      .portfolio-links a {
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {
    .portfolio-gallery .img {
        width: 100%;
    }

    .portfolio-gallery {
        gap: 40px;
    }
}