@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

  /* outline: 2px solid red; */
}

html {
  max-width: 1440px;
  margin: auto;
  scroll-behavior: smooth;
}


:root {
  --black: #0a0a0a;
  --grey: #808080;
  --primary: #006ddc;
  --primary-hover: #2b85e2;
  --white: #ffffff;
  --grey-100: #e6e6e6;
  --primary-700: #004993;
  --primary-50: #cce2f8;
  --grey-80: #F9F9F9;
  --grey-500: #333333;
}

/* DEFINITIONS */
.to-top {
  position: fixed;
  right: 40px;
  /* bottom: 40px; */
  pointer-events: none;
  transition: all .4s;
  opacity: 0;
  height: 40px;
  width: 40px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 15px;
  font-size: 20px;
  display: grid;
  place-content: center;

}

.to-top.active {
  bottom: 40px;
  pointer-events: unset;
  opacity: 1;
}

.to-top:hover {
  background-color: var(--primary-700);
}

.pad {
  padding: 80px 5%;
}

.btn-center {
  /* text-align: center; */
  display: grid;
  place-content: center;
}

.break {
  display: block;
}

.pri-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 26px;
  gap: 16px;
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: var(--primary);

  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  cursor: pointer;
  width: fit-content;
  outline: 4px solid transparent;
}

.pri-btn:hover {
  background-color: var(--primary-hover);
  outline: 4px solid #CCE2F8;
  transition: 0.6s;
}

.pri-btn:disabled {
  background-color: #B3B3B3;
  cursor: not-allowed;
  border: 2px solid #B3B3B3;
  outline: none;
}

.pri-btn:disabled:active {
  background-color: #B3B3B3;
}

.pri-btn:active {
  background-color: var(--primary-700);
}

.sec-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: fit-content;
  padding: 16px 26px;
  border: 2px solid var(--primary);
  border-radius: 50px;
  color: var(--primary);
  cursor: pointer;
  background-color: transparent;

  font-weight: 500;
  font-size: 20px;
}

.sec-btn:hover {
  background-color: var(--primary-hover);
  border: 2px solid var(--primary-hover);
  color: var(--white);
  transition: 0.6s;
}

.sec-btn:active {
  background-color: var(--primary-700);
}

small {
  color: var(--grey);
}

a {
  text-decoration: none;
  color: var(--black);
}

a .btn {
  /* display: inline-block; */
  width: fit-content;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

h4 {
  font-weight: 700;
  font-size: 20px;
  color: var(--primary);
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--grey);
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: var(--grey);
}

/* HEADER STYLE */
/* header {
  position: sticky;
    top: 0;
    z-index: 1;
} */

.header {
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-100);
}

.header a,
.nav-mobile {
  /* color: var(--color-5); */
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
}

.header a:hover,
.nav-mobile a:hover,
nav .nav-active {
  font-weight: 700;
  transition: 0.7s;
}

.header ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* MOBILE MENU STYLE */
.nav-mobile {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  padding: 25px;
  direction: ltr;
  right: 100%;
  transition: 0.4s;
  top: 60px;
}

.nav-mobile.is-active {
  right: 0;
}

.nav-mobile ul {
  display: block;
  width: 100%;
  height: 100%;
}

.nav-mobile li {
  margin: 30px 0;
  list-style: none;
}

.nav-mobile li a {
  font-weight: 700;
}

.nav-mobile li a:hover,
.nav-mobile li .nav-active {
  color: var(--primary);
}

/* mobile menu */
.hamburger {
  position: relative;
  width: 30px;
  cursor: pointer;
  display: none;
}

.bar,
.hamburger::before,
.hamburger::after {
  width: 80%;
  height: 2px;
  background-color: var(--black);
  margin: 6px 0;
  content: "";
  display: block;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-5px, 5.8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.hero .left,
.hero .right {
  width: 50%;
}

.hero .left {
  padding: 0 5%;
}

.hero p {
  margin-top: 16px;
  margin-bottom: 56px;
}

.hero .right {
  text-align: end;
}

.hero .right img {
  width: 100%;
}

/* HOME CONTENT */

.h-details {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.h-details .left,
.h-details .right {
  width: 50%;
}

.h-details .left {
  padding: 0 5%;
}

.h-details p {
  margin-top: 18px;
}

.h-details .right img {
  width: 100%;
}

.h-details:last-child .right img {
  width: 95%;
}

.h-details:last-child .left {
  order: 2;
}

/* MORE SECTION */
.more .content {
  text-align: center;
  padding-top: 60px;
}

.more .content p {
  margin-top: 20px;
}

.more .tile {
  display: flex;
  justify-content: center;
  gap: 28px;
  flex-wrap: wrap;

  padding: 60px 0;
}

.more .tile .card {
  width: 20%;
  border: 1px solid var(--grey);
  border-radius: 10px;
}

.more .tile .card .card-img img {
  width: 100%;
  border-radius: 9px 9px 0 0;
}

.more .tile .card .card-title {
  padding: 15px 15px;
  text-align: center;
}

/* WHY US SECTION */
.why-us {
  text-align: center;
}

.why-us .content h2 {
  margin-bottom: 16px;
}

.why-us .tile {
  padding: 60px 0;
  display: flex;
  justify-content: space-around;
}

.why-us .tile .card .card-content {
  margin-top: 32px;
}

.why-us .tile .card {
  width: 27%;
}

.why-us .tile .card .card-img img {
  border-radius: 100%;
  width: 40%;
}

/* BLOG SECTION */
.blog {
  display: flex;
  align-items: center;
}

.blog .right,
.blog .left {
  width: 50%;
}

.blog .left img {
  width: 100%;
}

.blog .right {
  padding: 0 5%;
}

.blog .right p {
  margin: 16px 0 56px 0;
}

.blog .right img {
  display: none;
}

.blog .mb-center {
  padding: 20px 0;
}

/* FOOTER */
footer {
  padding: 120px 5% 0 5%;
  border-top: 1px solid var(--grey-100);
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.main-footer .left {
  width: 30%;
}

.main-footer .left .down {
  margin-top: 40px;
}

.socials {
  display: flex;
  gap: 10px;
  margin-top: 16px;
}

.down .socials a {
  height: 40px;
  width: 40px;
  background-color: var(--primary-50);
  color: var(--primary);

  display: grid;
  place-content: center;
  font-size: 25px;
  border-radius: 15px;
}

.down .socials a:hover {
  background-color: var(--primary);
  color: var(--white);
  transition: 0.5s;
}

.main-footer .right {
  width: 65%;

  display: flex;
  justify-content: space-between;
}

.menu {
  margin-top: 26px;
}

.mb {
  display: none;
}

.menu a {
  display: block;
  color: var(--grey);
  font-weight: 400;
  margin-bottom: 16px;
  width: fit-content;
}

.menu a:hover {
  color: var(--primary);
}

.sub-footer {
  margin-top: 50px;
  padding: 32px 0;
  text-align: center;
  border-top: 3px solid var(--grey-100);
}

.sub-footer h5 {
  font-weight: 400;
}

/* SERVICE PAGE */
.service-hero {
  text-align: center;

  background-image: url(/img/Half\ tone\ 2.webp), url(/img/Half\ tone\ 1.webp);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 100%;
}

.service-hero p {
  margin: 30px;
}

.sub-title {
  text-align: center;
  color: var(--grey);
}

/* OFFER SECTION */
.offer h2 {
  margin: 20px 0;
}

.offer p {
  margin-bottom: 35px;
}

.offer-content {
  padding: 0 5%;
  text-align: center;
}

.offer .tile .tile-content {
  display: flex;
}

.offer .tile .tile-content:not(:first-child) {  
  margin: 64px 0;
}

.offer .tile .tile-content .left {
  width: 50%;
}

.offer .tile .tile-content .left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.offer .tile .tile-content .right {
  padding: 2% 5%;
  width: 50%;
  margin-top: 2%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  
}

.offer .tile .tile-content .right h3 {
  margin-top: 20px;
}

.offer-sub {
  color: var(--grey);
  padding: 7px 16px;
  border: 2px solid var(--grey);
  border-radius: 16px;
  width: fit-content;
}

.offer .tile .tile-content:nth-child(even) .left {
  order: 2;
}

.tile-more {
  display: none;
}

/* our process section */
.timeline-section {
  position: relative;
  text-align: center;

  display: flex;
  justify-content: space-between;
}

.timeline-section .card {
  width: 30%;
}

.timeline-section .card .number {
  display: grid;
  place-content: center;
}

.timeline-section .card .number h2 {
  height: 70px;
  width: 70px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 20px;
  display: grid;
  place-content: center;
}

.timeline-section .card .content .card-body h5 {
  font-weight: 400;
  color: var(--grey);
}

.divider {
  position: absolute;
  top: 47px;
  left: 22%;

  display: flex;
  justify-content: space-between;
  width: 20%;
}

.divider-2 {
  top: 47px;
  left: 57%;
}

.circle {
  height: 16px;
  width: 16px;
  border-radius: 999px;
}

.circle-1 {
  background-color: #006DDC;
}

.circle-2 {
  background-color: #006DDCD9;
}

.circle-3 {
  background-color: #006DDC99;
}

.circle-4 {
  background-color: #006DDC59;
}

.circle-5 {
  background-color: #006DDC1A;
}

.service-work {
  background-image: url(/img/service\ work\ bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 180px 5%;

  
  display: grid;
  place-items: center;
  width: 100%;
}

.service-work .content .heading a {
  font-size: 144px;
  font-weight: 700; 
  color: rgba(255, 255, 255, 0.644);
}

.service-work .content .heading a:hover {
  color: var(--white);
  transform: scale(1.1);
  transition: ease-in-out .4s;
}


.service-work .content .heading a:active {
  color: var(--primary);
}

.service-work .btn-center .sec-btn{
  display: none;
}


/* CONTACT PAGE */
.contact {
  background-image: url(/img/contactBG.webp);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  justify-content: space-between;
}

.contact .left {
  width: 50%;
  padding-right: 5%;
}

.contact .right {
  width: 50%;
}

.contact h5 {
  color: var(--grey);  
}

.contact h1 {
  margin: 6px 0 16px 0;
}

.contact .left h1:nth-child(3) {
  display: none;
}

.para {
  font-weight: 400;
}

.contact-details {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-details a {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 20px;
}

.contact-details a:hover {
  font-weight: 500;
}

.contact-details a i {
  color: var(--primary);
}

form {
  background-color: var(--grey-80);
  padding: 2% 5% 8% 5%;
  width: 100%;
  /* max-width: 616px; */
  border-radius: 20px;
}

label {
  font-size: 18px;
  font-weight: 700;
  color: var(--grey-500);
  margin: 32px 0 12px 0;
}

.form-field .form-details {
  width: 47%;
}

.form {
  display: flex;
  justify-content: space-between;
}

.form-details {
  display: flex;
  flex-direction: column;
}

.box {
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  padding: 24px;
  line-height: 25px;
  font-weight: 500;
}

.box::placeholder {
  color: #CCCCCC;
}

.box2 {
  resize: none;
  width: 100%;
  aspect-ratio: 3/1;
  border-radius: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

form button {
  margin-top: 32px;
}


/* ABOUT PAGE */
.strategies {
  display: flex;
  justify-content: space-between;
}

.strategies .card {
  width: 30%;
  text-align: center;
}

.strategies .card .img {
  margin-bottom: 20px;
}

.strategies .card .img img {
  border-radius: 20px;
  aspect-ratio: 1/1;
  width: 30%;
}

.team {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.team .card {
  width: 31%;
  border-radius: 24px;
  border: 1px solid var(--grey-100);
  text-align: center;
  padding: 40px;

  display: grid;
  place-items: center;
}
.team .card:hover {
  transform: scale(1.1);
  transition: .4s;
  background-color: #F8FBFE;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.team .card .img {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 999px;
  /* outline: saddlebrown 3px solid; */
}

.team-img {
  border-radius: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  /* overflow: hidden; */
}

.team .card:hover .team-img {
  transform: scale(1.1);
  transition: .4s;
}

.team .card .content {
  display: grid;
  place-items: center;
}

.team .card .content button {
  margin-top: 10px;
  display: none;
}

.team .card .content h3 {
  margin-top: 24px;
  cursor: pointer;
}

.team .card .content p {
  margin: 0;
}

.about-contact-details {
  text-align: center;
}

.about-contact-details a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 20px;
}

.about-contact-details a:hover {
  font-weight: 500;
}

.about-contact-details a i {
  color: var(--primary);
}

/* PORTFOLIO */
.port-hero {
  padding: 150px 0;
}



@media screen and (max-width: 1000px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 26px !important;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }

  label {
    font-size: 16px;
  }

  .box::placeholder {
    display: none;
  }

  .box {
    font-size: 14px;
    padding: 14px 23px;
  }

  .pri-btn,
  .sec-btn {
    font-size: 16px;
    padding: 10px 18px;
  }

  .break {
    all: unset;
  }

  .down .socials a {
    height: 40px;
    width: 40px;
    font-size: 20px;
  }

  .blog .right p {
    margin: 16px 0 30px 0;
  }

  .timeline-section .card .number h2 {
    height: 50px;
    width: 50px;
  }

  .circle {
    height: 13px;
    width: 13px;
  }

  .divider-2,
  .divider {
    top: 40px;
  }

  .contact-details a, .about-contact-details a {
    font-size: 16px;
  }

  .service-work .content .heading a {
    font-size: 100px;
  }
}


/* PORTFOLIO PAGE */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 6%;

}

.projects .card {
  width: 47%;
  margin: 72px 0;
}

.projects .card .img img {
  width: 100%;
}

.projects .card .content {
  margin: 30px 0;
}

.projects .card .content p {
  margin: 0;
}





@media screen and (max-width: 870px) {
  .more .tile .card {
    width: 40%;
  }

  .why-us .tile {
    flex-wrap: wrap;
    gap: 50px;
  }

  .why-us .tile .card {
    width: 50%;
  }

  .main-footer {
    flex-wrap: wrap;
    gap: 50px;
  }

  .menu-header {
    text-align: center;
  }

  .footer-menu .menu {
    display: grid;
    place-items: center;
  }

  .main-footer .left,
  .main-footer .right {
    width: 100%;
  }

  .main-footer .left {
    text-align: center;
    display: grid;
    place-content: center;
  }

  /* SERVICE PAGE */
  .service-hero {
    text-align: center;

    background-image: url(/img/Half\ tone\ 2.webp);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .offer-sub {
    padding: 5px 10px;
    border-radius: 10px;
  }

  /* CONTACT PAGE */
  .contact {
    flex-wrap: wrap;
    gap: 50px;
  }

  .contact .left, .contact .right {
    width: 100%;
  }

  .contact .left {
    padding-right: unset;
  }

  /* ABOUT PAGE */
  .strategies .card .img img {
    width: 40%;
  }

  .team {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .team .card {
    width: 45%;
    padding: 20px;
  }
  
  .team .card .img {
    height: 120px;
    width: 120px;
    overflow: hidden;
    border-radius: 999px;
    /* outline: saddlebrown 3px solid; */
  }

  .team .card .img img {
    width: 100%;
  }

  /* PORFOLIO PAGE */
  .projects .card .content {
    margin: 15px 0;
  }
}

@media screen and (max-width: 650px) {
  .pad {
    padding: 40px 5%;
  }

  header {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .logo a img {
    width: 70%;
  }

  .nav-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .why-us .tile .card {
    width: 100%;
  }

  .more .tile .card {
    width: 100%;
  }

  .more-1 .tile {
    gap: 10px;
  }

  .more-1 .tile .card {
    width: 48%;
    margin-top: 32px;
  }
  

  .more-2 .tile .card:last-child {
    display: none;
  }

  .hero,
  .h-details,
  .blog {
    flex-wrap: wrap;
    gap: 50px;
  }

  .blog .right,
  .blog .left,
  .h-details .left,
  .h-details .right,
  .hero .left,
  .hero .right {
    width: 100%;
  }

  .h-details:last-child .right {
    order: 2;
  }

  .h-details .left {
    margin-bottom: 30px;
  }

  .blog .right img {
    display: unset;
    width: 100%;
    margin: 20px 0;
  }
  .blog .left img {
    display: none;
  }

  body {
    text-align: center;
  }

  .main-footer {
    display: grid;
    place-content: center;
  }

  .main-footer .right {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .main-footer .left .top img {
    width: 50%;
  }

  .footer-menu {
    width: 40%;
  }

  .pc {
    display: none;
  }

  .mb {
    width: 100%;
    display: grid;
    place-content: center;
  }

  .mb-center {
    display: grid;
    place-content: center;
  }

  /* SERVICE PAGE */
  .offer .tile .tile-content {
    flex-wrap: wrap;
    margin: 90px 0;
  }

  .offer .tile .tile-content .left,
  .offer .tile .tile-content .right {
    width: 100%;
  }

  .offer .tile .tile-content:nth-child(odd) .left {
    order: 2;
  }

  .offer-header {
    display: grid;
    place-content: center;
  }

  .timeline-section {
    flex-wrap: wrap;
    gap: 40px;
  }

  .timeline-section .card {
    width: 100%;
  }

  .divider {
    display: none;
  }

  .service-work .btn-center .sec-btn {
    display: unset;

    color: var(--white);
    border-color: var(--white);
    margin-top: 20px;
  }

  .service-work .btn-center .sec-btn:hover {
    background-color: unset;
  }

  /* .service-work .content .heading {
    display: none;
  } */
  .service-work .content .heading a {
    font-size: 50px;
    color: var(--white);
  }

  .contact-details {
    display: grid;
    place-items: center;
  }

  .contact .left h1:nth-child(3) {
    display: unset;
  }

  .contact .left h1:nth-child(2) {
    display: none;
  }

  .form {
    flex-direction: column;
  }

  .form-field .form-details {
    width: 100%;
  }

  label {
    text-align: left;
  }

  #submit {
    width: 100%;
  }

  .box2 {
    aspect-ratio: 4/2;
  }
  

  .contact, .service-hero {
    background-image: url(/img/mobilebg\ right.webp), url(/img/mobilebg\ left.webp);
    background-position: 100% 0, 0 0;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
  }

  /* ABOUT PAGE */
  .strategies {
    gap: 60px;
    flex-wrap: wrap;
  }

  .strategies .card {
    width: 100%;
  }

  .strategies .card .img img {
    width: 25%;
  }

  .team .card {
    width: 90%;
    padding: 15px;
  }

  .projects .card {
    width: 100%;
    text-align: left;
    margin: 40px 0;
  }

  .team .card .content button {
    display: unset;
  }
}
